<footer class=" footer">
  <div class="container-morent">
    <div class="footer-info">
      <div class="logo-footer">
        <a class="navbar-brand logo" href="#">MORENT</a>
        <p>
          Our vision is to provide convenience and help increase your sales
          business.
        </p>
      </div>
  
      <div class="footer-information">
        <div class="contacts about">
          <h3>About</h3>
          <ul class="list__about">
            <li class="item">
              <a href="">How it works</a>
            </li>
            <li class="item">
              <a href="">Featured</a>
            </li>
            <li class="item">
              <a href="">Partnership</a>
            </li>
            <li class="item">
              <a href="">Bussiness Relation</a>
            </li>
          </ul>
        </div>
        <div class="contacts socials">
          <h3>Socials</h3>
          <ul class="list__socials">
            <li class="item">
              <a href="">Discord</a>
            </li>
            <li class="item">
              <a href="">Instagram</a>
            </li>
            <li class="item">
              <a href="">Twitter</a>
            </li>
            <li class="item">
              <a href="">Facebook</a>
            </li>
          </ul>
        </div>
        <div class="contacts community">
          <h3>Community</h3>
          <ul class="list__community">
            <li class="item">
              <a href="">Events</a>
            </li>
            <li class="item">
              <a href="">Blog</a>
            </li>
            <li class="item">
              <a href="">Podcast</a>
            </li>
            <li class="item">
              <a href="">Invite</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="footer-bottom">
      <div>
        <a class="first" href="">Privacy & Policy</a>
        <a href="">Terms & Condition</a>
      </div>
      <p>©2022 MORENT. All rights reserved</p>
    </div>
  </div>
</footer>
