<section class="container home">
  <div class="card__info">
    <div class="gallery">
      <div class="bg-primary text-white card__large">
        <div class="card">
          <h2>Sports car with the best design and acceleration</h2>
          <p>
            Safety and comfort while driving a futuristic and elegant sports car
          </p>
        </div>
        <div class="card__large-image">
          <picture class="image">
            <source
              srcset="
                ./images/cars/nissan/nissan-large-mob-1x-min.png 1x,
                ./images/cars/nissan/nissan-large-mob-2x-min.png 2x
              "
              media="(max-width: 767px)" />
            <source
              srcset="
                ./images/cars/nissan/nissan-large-desk-1x-min.png 1x,
                ./images/cars/nissan/nissan-large-desk-2x-min.png 2x
              "
              media="(min-width: 768px)" />
            <img
              src="./images/cars/nissan/nissan-large-desk-1x-min.png"
              alt="profile-user"
          /></picture>
        </div>
      </div>

      <div class="card__views">
        <picture class="mb-2 bg-primary card__view1">
          <source
            srcset="
              ./images/cars/nissan/nissan-view-mob-1x-min.png 1x,
              ./images/cars/nissan/nissan-view-mob-2x-min.png 2x
            "
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/cars/nissan/nissan-view-desk-1x-min.png 1x,
              ./images/cars/nissan/nissan-view-desk-2x-min.png 2x
            "
            media="(min-width: 768px)" />
          <img
            src="./images/cars/nissan/nissan-view-desk-1x-min.png"
            alt="profile-user"
        /></picture>
        <picture class="card__view2">
          <source
            srcset="
              ./images/cars/nissan/nissan-view2-mob-1x-min.png 1x,
              ./images/cars/nissan/nissan-view2-mob-2x-min.png 2x
            "
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/cars/nissan/nissan-view2-desk-1x-min.png 1x,
              ./images/cars/nissan/nissan-view2-desk-2x-min.png 2x
            "
            media="(min-width: 768px)" />
          <img
            src="./images/cars/nissan/nissan-view2-desk-1x-min.png"
            alt="profile-user"
        /></picture>
        <picture class="card__view3">
          <source
            srcset="
              ./images/cars/nissan/nissan-view3-mob-1x-min.png 1x,
              ./images/cars/nissan/nissan-view3-mob-2x-min.png 2x
            "
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/cars/nissan/nissan-view3-desk-1x-min.png 1x,
              ./images/cars/nissan/nissan-view3-desk-2x-min.png 2x
            "
            media="(min-width: 768px)" />
          <img
            src="./images/cars/nissan/nissan-view3-desk-1x-min.png"
            alt="profile-user"
        /></picture>
      </div>
    </div>
    <div class="card__describe">
      <div class="title-reviewer">
        <h2>Nissan GT-R</h2>
        <svg>
          <use href="./images/symbol-defs.svg#icon-heart"></use>
        </svg>
      </div>
      <div class="rating">
        <svg>
          <use href="./images/symbol-defs.svg#icon-fill-actions-star"></use>
        </svg>
        <svg>
          <use href="./images/symbol-defs.svg#icon-fill-actions-star"></use>
        </svg>
        <svg>
          <use href="./images/symbol-defs.svg#icon-fill-actions-star"></use>
        </svg>
        <svg>
          <use href="./images/symbol-defs.svg#icon-fill-actions-star"></use>
        </svg>
        <svg>
          <use href="./images/symbol-defs.svg#icon-actions-star"></use>
        </svg>
        <p>440+ Reviewer</p>
      </div>
      <p class="describe">
        NISMO has become the embodiment of Nissan's outstanding performance,
        inspired by the most unforgiving proving ground, the "race track".
      </p>
      <ul class="list">
        <li>
          <p class="option">Type Car</p>
          <p class="value">Sport</p>
        </li>
        <li>
          <p class="option">Steering</p>
          <p class="value">Manual</p>
        </li>
        <li>
          <p class="option">Capacity</p>
          <p class="value">2 Person</p>
        </li>
        <li>
          <p class="option">Gasoline</p>
          <p class="value">70 L</p>
        </li>
      </ul>
      <div class="price-button">
        <div class="price">
          <p class="sale-price">$80.00/<span>days</span></p>
          <p class="full-price">$100.00</p>
        </div>
        <button type="button" class="btn btn-primary">Rent Now</button>
      </div>
    </div>
    
  </div><div class="recent-car">
      <div>
        <div class="h2 title">Recent Car</div>
        <button class="view-all">View All</button>
      </div>
      <ul class="recent-car__list"></ul>
    </div>
    <div class="recomendation-car">
      <div>
        <div class="h2 title">Recomendation Car</div>
        <button type="button" class="view-all">View All</button>
      </div>
      <ul class="recomendation-car__list"></ul>
    </div>
</section>
