<section class="container home">
  Home
  <div class="card__info">
    <div class="gallery">
      <div class="bg-primary text-white card__large">
        <div class="card">
          <h2>Sports car with the best design and acceleration</h2>
          <p>
            Safety and comfort while driving a futuristic and elegant sports car
          </p>
        </div>
        <div class="card__large-image">
          <picture class="image">
            <source
              srcset="
                ./images/cars/nissan/nissan-large-mob-1x-min.png 1x,
                ./images/cars/nissan/nissan-large-mob-2x-min.png 2x
              "
              media="(max-width: 767px)" />
            <source
              srcset="
                ./images/cars/nissan/nissan-large-desk-1x-min.png 1x,
                ./images/cars/nissan/nissan-large-desk-2x-min.png 2x
              "
              media="(min-width: 768px)" />
            <img
              src="./images/cars/nissan/nissan-large-desk-1x-min.png"
              alt="profile-user"
          /></picture>
        </div>
      </div>

      <div class="card__views">
        <picture class="mb-2 bg-primary card__view1">
          <source
            srcset="
              ./images/cars/nissan/nissan-view-mob-1x-min.png 1x,
              ./images/cars/nissan/nissan-view-mob-2x-min.png 2x
            "
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/cars/nissan/nissan-view-desk-1x-min.png 1x,
              ./images/cars/nissan/nissan-view-desk-2x-min.png 2x
            "
            media="(min-width: 768px)" />
          <img
            src="./images/cars/nissan/nissan-view-desk-1x-min.png"
            alt="profile-user"
        /></picture>
        <picture class="card__view2">
          <source
            srcset="
              ./images/cars/nissan/nissan-view2-mob-1x-min.png 1x,
              ./images/cars/nissan/nissan-view2-mob-2x-min.png 2x
            "
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/cars/nissan/nissan-view2-desk-1x-min.png 1x,
              ./images/cars/nissan/nissan-view2-desk-2x-min.png 2x
            "
            media="(min-width: 768px)" />
          <img
            src="./images/cars/nissan/nissan-view2-desk-1x-min.png"
            alt="profile-user"
        /></picture>
        <picture class="card__view3">
          <source
            srcset="
              ./images/cars/nissan/nissan-view3-mob-1x-min.png 1x,
              ./images/cars/nissan/nissan-view3-mob-2x-min.png 2x
            "
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/cars/nissan/nissan-view3-desk-1x-min.png 1x,
              ./images/cars/nissan/nissan-view3-desk-2x-min.png 2x
            "
            media="(min-width: 768px)" />
          <img
            src="./images/cars/nissan/nissan-view3-desk-1x-min.png"
            alt="profile-user"
        /></picture>
      </div>
    </div>
    <div class="card__describe">
        <h2>Nissan GT-R</h2>
    </div>
  </div>
</section>
