.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: 1440px) {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
  }

  picture {
    margin-bottom: 0;
  }
  .gallery {
    width: 327px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      width: 694px;
      display: flex;
      justify-content: center;
    }
    @media screen and (min-width: 1440px) {
      display: block;
      margin-right: 32px;
      width: 492px;
      margin-bottom: 0;
    }
  }
  .card {
    background-color: transparent;
    border: none;

    h2 {
      width: 240px;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      @media screen and (min-width: 768px) {
        width: 372px;
        font-size: 32px;
      }
    }
    p {
      width: 216px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.6;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      @media screen and (min-width: 768px) {
        width: 284px;
        font-size: 16px;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 32px;
      }
    }
    &__large {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 327px;
      height: 232px;
      background: url('../images/rectangle.svg') repeat-x,
        url('../images/rectangle.svg') repeat-x,
        url('../images/rectangle.svg') repeat-x;
      background-size: 40px 78px;
      background-position: 20px 0, 0 78px, 20px 156px;
      border-radius: 10px;
      -webkit-background-composite: 1;
      overflow: hidden;
      padding: 24px;
      margin-bottom: 24px;
      @media screen and (min-width: 768px) {
        width: 530px;
        height: 405px;
        margin-bottom: 0;
        margin-right: 16px;
        background-size: 75px 120px;
        background-position: 38px 0, 0px 119.9px, 38px 239px;
      }
      @media screen and (min-width: 1440px) {
        width: 492px;
        height: 360px;
        margin-bottom: 24px;
        margin-right: 0;
        background-size: 75px 120px;
        background-position: 38px 0, 0px 119.9px, 38px 239px;
      }
    }
    &__large-image {
      display: flex;
      justify-content: center;
    }
    &__views {
      display: flex;
      justify-content: space-between;
      width: 327px;
      @media screen and (min-width: 768px) {
        width: 148px;
        flex-direction: column;
      }
      @media screen and (min-width: 1440px) {
        width: 492px;
        flex-direction: row;
      }
    }
    &__view1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('../images/rectangle.svg') repeat-x,
        url('../images/rectangle.svg') repeat-x,
        url('../images/rectangle.svg') repeat-x,
        url('../images/rectangle.svg') repeat-x;
      background-size: 10px 14px;
      background-repeat: space repeat-x;
      background-position: 50% 0, 0 14px, 50% 28px, 0 42px;
      border-radius: 10px;
      overflow: hidden;
      width: 96px;
      height: 64px;
      padding: 8px;
      border-radius: 8px;
      @media screen and (min-width: 768px) {
        width: 148px;
        height: 124px;
        margin-bottom: 0;
        background-size: 19px 30px;
        background-position: 50% 0, 0 30px, 50% 60px, 0 90px;
      }
    }
    &__describe {
      width: 327px;
      height: 318px;
      background-color: var(--secondary-bg-color);
      padding: 16px;
      border-radius: 10px;
      margin-bottom: 32px;
      @media screen and (min-width: 768px) {
        width: 694px;
        height: 508px;
        padding: 24px;
      }
      @media screen and (min-width: 1440px) {
        width: 492px;
      }
      h2 {
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        color: var(--secondary-text-color);
        @media screen and (min-width: 768px) {
          font-size: 32px;
          margin-bottom: 10px;
        }
      }
      p.describe {
        font-size: 12px;
        line-height: 2;
        letter-spacing: -0.02em;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
          font-size: 20px;
          margin-bottom: 32px;
        }
      }
      .title-reviewer {
        display: flex;
        justify-content: space-between;
        svg {
          display: none;
          @media screen and (min-width: 768px) {
            display: block;
            width: 20px;
            height: 19px;
          }
        }
      }
    }
  }
  .rating {
    display: flex;
    margin-right: 4px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      margin-bottom: 34px;
    }
    svg {
      width: 12px;
      height: 12px;
      @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.25;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      margin-left: 8px;
      @media screen and (min-width: 768px) {
        font-size: 14x;
      }
    }
  }
  .list {
    display: grid;
    column-gap: 47px;
    row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 68px;
    }
    li {
      display: flex;
      justify-content: space-between;
      .option {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        @media screen and (min-width: 768px) {
          font-size: 20px;
          font-weight: 400;
        }
      }
      .value {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: -0.02em;
        @media screen and (min-width: 768px) {
          font-size: 20px;
        }
      }
    }
  }
  .price-button {
    display: flex;
    justify-content: space-between;
    button {
      width: 140px;
      height: 56px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.25;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .full-price {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    color: var(--third-text-color);
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
  .sale-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 4px;
    @media screen and (min-width: 768px) {
      font-size: 28px;
    }
    span {
      font-weight: 700;
      font-size: 12px;
      line-height: 1.25;
      color: var(--third-text-color);
      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
  .recent-car__list,
  .recomendation-car__list {
    position: relative;
    margin-bottom: 32px;
    // display: flex;
    li {
      margin-right: 16px;
    }
  }
  .view-all {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.286;
      display: flex;
      align-items: center;

      color: var(--third-text-color);
    }
  }
  .view-all-recomendation-btn,
  .view-all-recent-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: right;

    color: var(--accent-primary-color);
  }
  .gradient-list {
    .gradient {
      width: 92px;
      height: 286px;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(
        to left,
        var(--secondary-bg-color) 2px,
        transparent 92px
      );
      z-index: 2;
      @media screen and (min-width: 768px) {
        height: 388px;
      }
      @media screen and (min-width: 1440px) {
        display: none;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: var(--secondary-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.main-part {
  @media screen and (min-width: 1440px) {
  width: calc( 100% - 360px );
  padding-left: 32px;}
}
.left{
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  background: var(--secondary-bg-color);
  height: 100%;
}
.filters {
  background: var(--secondary-bg-color);
  display: none;
  padding: 24px;
  @media screen and (min-width: 768px) {
    width: 694px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    border-radius: 10px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;
    width: 360px;
    margin-top: -32px;
    margin-bottom: -32px;
    border-radius: 0;   
    margin-left: -60px; 
  }
  .filter-box {
    width: 25%;
    @media screen and (min-width: 1440px) {
      width: 100%;
      margin-bottom: 52px;
    }
  }
  .filer-name{
    font-weight: 600;
font-size: 12px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: var(--fifth-text-color);
margin-bottom: 14px;
@media screen and (min-width: 1440px) {
margin-bottom: 28px;}
  }
}
