.home {
  min-height: calc(100vh - 124px - 480px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen and (min-width: 1440px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  picture {
    margin-bottom: 0;
  }
  .gallery {
    width: 327px;
    margin-bottom: 32px;
    @media screen and (min-width: 1440px) {
      margin-right: 32px;
      margin-bottom: 0;
      width: 492px;
    }
  }
  .card {
    background-color: transparent;
    border: none;

    h2 {
      width: 240px;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      @media screen and (min-width: 768px) {
        width: 372px;
        font-size: 32px;
      }
    }
    p {
      width: 216px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.6;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      @media screen and (min-width: 768px) {
        width: 284px;
        font-size: 16px;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    &__large {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 327px;
      height: 232px;
      background: url(../images/rectangle.svg);
      background-size: 40px 78px;
      border-radius: 10px;
      overflow: hidden;
      padding: 24px;
      margin-bottom: 24px;
      @media screen and (min-width: 768px) {
        width: 492px;
        height: 360px;
        background-size: 75px 120px;
      }
    }
    &__large-image {
      display: flex;
      justify-content: center;
    }
    &__views {
      display: flex;
      justify-content: space-between;
    }
    &__view1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../images/rectangle.svg);
      background-size: 10px 14px;
      border-radius: 10px;
      overflow: hidden;
      width: 96px;
      height: 64px;
      padding: 8px;
      border-radius: 8px;
      @media screen and (min-width: 768px) {
        width: 148px;
        height: 124px;
        background-size: 75px 120px;
        background-size: 19px 30px;
      }
    }
    &__describe {
      width: 327px;
      height: 318px;
      background-color: var(--secondary-bg-color);
      padding: 16px;
      border-radius: 10px;
      @media screen and (min-width: 768px) {
        width: 492px;
        height: 508px;
        padding: 24px;
      }
      h2 {
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        color: var(--secondary-text-color);
      }
      p.describe {
        font-size: 12px;
        line-height: 2;
        letter-spacing: -0.02em;
        margin-bottom: 16px;
      }
    }
  }
  .rating {
    display: flex;
    margin-right: 4px;
    margin-bottom: 16px;
    svg {
      width: 12px;
      height: 12px;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
    }
  }
  .list {
    display: grid;
    column-gap: 47px;
    row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    li {
      display: flex;
      justify-content: space-between;
      .option {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
      }
      .value {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: -0.02em;
      }
    }
  }
  .price-button {
    display: flex;
    justify-content: space-between;
  }
  .full-price {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;    
    color: var(--third-text-color);
  }
  .sale-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    span {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: var(--third-text-color);
    }
  }
}
