.model {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 286px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 16px;
  @media screen and (min-width: 768px) {
    width: 317px;
    height: 388px;
  }

  .recent-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    svg {
      width: 20px;
      height: 19px;
    }

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.25;
      display: flex;
      align-items: center;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  .options-svg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    font-size: 12px;
    line-height: 1.25;
    svg {
      width: 14px;
      height: 14px;
      margin-right: 4px;
    }
  }
  .info {
    display: flex;
    align-items: center;
  }
  p.card-type {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: var(--third-text-color);
    @media screen and (min-width: 768px) {
      margin-bottom: 52px;
      font-weight: 700;
      font-size: 14px;
    }
  }
  .image-box {
    height: 84px;
    display: flex;
    margin-bottom: 28px;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    position: relative;

    img {
      width: 180px;
      margin-bottom: 30px;
    }
    .gradient-card {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 84px;
      background: linear-gradient(
        transparent 20px,
        var(--secondary-bg-color) 56px
      );
      z-index: 5;
    }
  }
}
.price-button-cars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rentalnow {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  width: 100px;
  height: 36px;
}
.full-price-cars {
  text-decoration: line-through;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: var(--third-text-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.sale-price-cars {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  span {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    color: var(--third-text-color);
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.view-all-cars {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  transform: none !important;
  transition-duration: none;
  margin-right: 0;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap:  25px 52px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
  }
  li {
    margin-right: 0 !important;
  }
}
